<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="statek_name" default="statek"/>
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>


    <!-- Launch static transform publisher -->
    <include file="$(find statek_tf)/launch/transform_publishers.launch">
        <arg name="statek_name" value="$(arg statek_name)"/>
    </include>

    <!-- Spawn Statek UAV with given name or default one -->
    <param name="$(arg statek_name)/robot_description" command="$(find xacro)/xacro $(find statek_config)/urdf/statek.urdf"/>

    <node name="spawn_statek" pkg="gazebo_ros" type="spawn_model" args="-param $(arg statek_name)/robot_description -urdf -model $(arg statek_name) -x $(arg x) -y $(arg y) -z $(arg z)"/>

    <group ns="$(arg statek_name)/stereo/">
        <node name="stereo_image_proc" pkg="stereo_image_proc" type="stereo_image_proc" output="screen" respawn="true"/>
    </group>

</launch>
