<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="statek_name" default="statek"/>
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>

    <!-- Spawn Statek UAV with given name or default one -->
    <group ns="$(arg statek_name)">
        <node name="spawn_statek" pkg="gazebo_ros" type="spawn_model" args="-file $(find statek_sim)/models/statek/model.sdf -sdf -model $(arg statek_name) -x $(arg x) -y $(arg y) -z $(arg z)"/>
    </group>
</launch>