<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="statek_name" default="$(eval open(find('statek_config') + '/name').read())"/>

    <arg name="footprint_to_base" value="$(eval open(find('statek_config') + '/tf/footprint_to_base').read())"/>
    <arg name="footprint_to_local_map" value="$(eval open(find('statek_config') + '/tf/footprint_to_local_map').read())"/>
    <arg name="base_to_laser" value="$(eval open(find('statek_config') + '/tf/base_to_laser').read())"/>
    <arg name="base_to_imu" value="$(eval open(find('statek_config') + '/tf/base_to_imu').read())"/>
    <arg name="base_to_left_camera" value="$(eval open(find('statek_config') + '/tf/base_to_left_camera').read())"/>
    <arg name="base_to_right_camera" value="$(eval open(find('statek_config') + '/tf/base_to_right_camera').read())"/>

    <group ns="$(arg statek_name)/tf">
        <!-- base footprint to base link -->
        <node pkg="tf2_ros" type="static_transform_publisher" name="base_footprint_to_base_link" args="$(arg footprint_to_base) $(arg statek_name)/base_footprint $(arg statek_name)/base_link" respawn="true"/>
        
        <!-- base footprint to local map link -->
        <node pkg="tf2_ros" type="static_transform_publisher" name="base_footprint_to_local_map_link" args="$(arg footprint_to_local_map) $(arg statek_name)/base_footprint $(arg statek_name)/local_map" respawn="true"/>

        <!-- base link to lidar link -->
        <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_laser_link" args="$(arg base_to_laser) $(arg statek_name)/base_link $(arg statek_name)/laser/laser_link" respawn="true"/>

        <!-- base link to imu link -->
        <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_imu_link" args="$(arg base_to_imu) $(arg statek_name)/base_link $(arg statek_name)/imu/imu_link" respawn="true"/>

        <!-- base link to camera links -->
        <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_left_camera_link" args="$(arg base_to_left_camera) $(arg statek_name)/base_link $(arg statek_name)/stereo/left_link" respawn="true"/>
        <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_right_camera_link" args="$(arg base_to_right_camera) $(arg statek_name)/base_link $(arg statek_name)/stereo/right_link" respawn="true"/>
    </group>

</launch>
