<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="statek_name" default="$(eval open(find('statek_config') + '/name').read())"/>

    <!-- Launch GPS driver -->
    <group ns="$(arg statek_name)/gps/">
        <node name="gps_node" pkg="nmea_navsat_driver" type="nmea_serial_driver" output="screen" respawn="true">
            <param name="port" type="string" value="/dev/ttyTHS1"/>
            <param name="baud" type="int" value="9600"/>
            <param name="frame_id" type="string" value="$(arg statek_name)/gps/gps_link"/>
        </node>
    </group>

</launch>
