<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="statek_name" default="$(eval open(find('statek_config') + '/name').read())"/>

    <param name="$(arg statek_name)/robot_description" command="$(find xacro)/xacro $(find statek_config)/urdf/robot_description.urdf"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find statek_rviz)/rviz/statek.rviz"/>

    <include file="$(find statek_rviz)/launch/graph_to_markers.launch">
        <arg name="statek_name" value="$(arg statek_name)"/>
    </include>

    <include file="$(find statek_rviz)/launch/map_to_markers.launch">
        <arg name="statek_name" value="$(arg statek_name)"/>
    </include>

</launch>
